*{padding:0;margin:0;}
header{
	box-sizing:border-box;
	padding-left:calc(50% - 510px);
	position:relative;
}
.logo{
	float:left;
}
.logo-text{
	position:absolute;
	top:20px;
	left:calc(50% - 510px + 100px);
}
.logo-text h2{
	letter-spacing:6px;
}
.text{
	position:absolute;
	right:calc(50% - 510px);
	top:16px;
}
.clear{
	clear:both;
}
nav{
	background-color:#057F32;
	width:100%;
	height:40px;
}
nav ul{
	margin-left:calc(50% - 510px);
	list-style:none;
}
nav ul li {
	float:left;
}
nav ul li a {
	box-sizing: border-box;
	padding:0 40px;
	line-height:40px;
	display:inline-block;
	color:#fff;
	text-decoration:none;
}
nav ul li a:hover{
	background-color:#98CA2B;
}
header {
	width:100%;
	height:auto;

}
.wrap{
	width:1020px;
	margin:0 auto;
}
.sidar{
	width:260px;
	height:auto;
	float:left;
}
.sidar h3{
	border-bottom:3px solid #057F32;
	padding-bottom:8px;
}
.content{
	float:right;
	width:750px;
}
.content h3{
	border-bottom:3px solid #057F32;
	padding-bottom:8px;
}
.sidar ol{
	list-style:inside circle;
}
.sidar ol li{
	margin-bottom:10px;
	font-size:14px;
}
.clear{
	clear:both;
}
/*下边为footer*/
footer{
	width:100%;
	height:auto;
	background-color:#057F32;

	box-sizing:border-box;
}
footer h2{
	color:#fff;
	padding-top:40px;
	padding-bottom:20px;
	text-align:center;
}
footer p{
	color:#fff;
	text-align:center;
	padding:20px  0;
}